<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}CorEngineer{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='img/logo/logo_inskape.svg') }}"
      type="image/png"
    />

    {% block css_link%}{% endblock %}
  </head>
  <body>
    <header class="main-header">
      <!--LOGO HEADER-->

      <a href="{{url_for('home')}}" class="main-header__link-logo">
        <div class="main-header__logo-container">
          <img
            src="{{url_for('static', filename='img/logo/logo_inskape.svg')}}"
            alt="logo CorEngineer"
            class="main-header__logo"
          />
        </div>
      </a>

      <!--MENU BUTTON-->
      <input type="checkbox" class="main-header__checkbox" id="menu-button" />
      <label
        for="menu-button"
        class="main-header__menu-button"
        role="button"
        alt="menu"
      >
        <i id="menu-icon" class="fa-solid fa-bars"></i>
      </label>
      <!--NAV HEADER-->
      <nav class="main-header__nav">
        <ul class="main-header__nav-list">
          <li class="main-header__nav-item">
            <a href="{{ url_for('home') }}"
              ><i class="main-header__nav-icon fa-solid fa-house"></i> Inicio</a
            >
          </li>
          <li class="main-header__nav-item">
            <a href="{{ url_for('projects') }}"
              ><i
                class="main-header__nav-icon fa-sharp-duotone fa-solid fa-diagram-project"
              ></i>
              Proyectos</a
            >
          </li>
          <li class="main-header__nav-item">
            <a href="{{ url_for('about') }}">
              <i class="main-header__nav-icon fa-solid fa-address-card"></i>
              Sobre Nosotros</a
            >
          </li>
          <li class="main-header__nav-item">
            <a href="{{ url_for('contact') }}">
              <i class="main-header__nav-icon fa-solid fa-address-book"></i>
              Contacto</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <main>
      {% block content %}
      <!-- Contenido específico de cada página  -->
      {% endblock %}
    </main>

    <footer>
      <p>
        &copy; 2024 <samp class="corengineer"> CorEngineer</samp>. Todos los
        derechos reservados.
      </p>
    </footer>
  </body>
</html>
